{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профиль жука</title>
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/3fdc59da94114ecd-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/a853c69d3cf13b17-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/b4b0da158404816f-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/c8ae0fac15b37b16-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/cc87cb16fedd6384-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/dd32e121f6104240-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/e10f0a1f1c5bddfe-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/f2f0493f5123f937-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/media/f3f9c83d0bcb2176-s.p.woff2"
    as="font" crossorigin="" type="font/woff2">
  <link rel="preload" as="image"
    imagesrcset="https://avatars.mds.yandex.net/get-yapic/27274/3wklvIEdtr2Pyot4JkxPzMnU2nM-1/islands-middle 1x, https://avatars.mds.yandex.net/get-yapic/27274/3wklvIEdtr2Pyot4JkxPzMnU2nM-1/islands-retina-middle 2x">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/7b7a160ecbfa7d13.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/65d4cad4d5e32147.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/21530681a308790b.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/13bc462ae2254daf.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/91e772ecba05a58e.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/a4cdd9d023e63175.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/1f0a9d99242d7d32.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/48b0c3b8aa049240.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/5823923a88a433ed.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/b71963088fd6114b.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/69b80e4c9eda4a34.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/073d494110033d8e.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/ed8d18cd2bd7b9ba.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/9cae3dbd620f3f2d.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/eae1100a0617e515.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/955e3f9523ecc1b0.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/49e19df4cbed275a.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/ac6a10913a527a57.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/ae4d7a8d0983cf11.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/f40037693cf964ed.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/ca42fc2aacffbdb9.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/b0191a0218fdb1ba.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/46906c5d4669a3e2.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/f76e4dbd6807389f.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="stylesheet"
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/css/f07d155b26cc056c.css"
    crossorigin="anonymous" data-precedence="next">
  <link rel="preload" as="script" fetchpriority="low" nonce=""
    href="https://yastatic.net/s3/education-portal/web/5f40b938520523eb-d41d8cd98f00b204e9800998ecf8427e/_next/static/chunks/webpack-9c7ce7fb11a732a3.js"
    crossorigin="">
  <link rel="icon" href="https://yastatic.net/s3/education-portal/web/favicon.ico" sizes="any">
  <link rel="icon" href="https://yastatic.net/s3/education-portal/web/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="https://yastatic.net/s3/education-portal/web/apple-touch-icon.png">
  <style>
    * {
      font-family: "Segoe UI", system-ui, sans-serif;
    }

    .Theme_color_hrDark,
    .Theme_color_hrLight,
    :root {
      --color-daily-gradient-start: #40d821;
      --color-daily-gradient-end: #13a500;
      --color-xp-gradient-start: #2170d8;
      --color-xp-gradient-end: #0034a5;
    }

    body {
      background-color: #f2f2f2;
    }

    .container {
      width: 80%;
      margin: auto;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    .card {
      background-color: #fff;
      padding: 24px;
      border-radius: 20px;
    }

    .bar-text {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }

    .bar-outer {
      border: 1px solid #c5c5c5;
    }

    .daily-progress-bar {
      height: 8px;
      width: 100%;
      border-radius: var(--progress-border-radius);
      background-color: var(--progress-outer-fill-color);
      --color-progress-inner-start: var(--color-daily-gradient-start);
      --color-progress-inner-end: var(--color-daily-gradient-end);
      background-image: linear-gradient(90deg, var(--color-progress-inner-start), var(--color-progress-inner-end), var(--color-progress-inner-start), var(--color-progress-inner-end));
      background-size: 300% 100%;
    }

    .xp-progress-bar {
      height: 8px;
      width: 100%;
      border-radius: var(--progress-border-radius);
      background-color: var(--progress-outer-fill-color);
      --color-progress-inner-start: var(--color-xp-gradient-start);
      --color-progress-inner-end: var(--color-xp-gradient-end);
      background-image: linear-gradient(90deg, var(--color-progress-inner-start), var(--color-progress-inner-end), var(--color-progress-inner-start), var(--color-progress-inner-end));
      background-size: 300% 100%;
    }

    .check-mark {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #13a500;
      display: inline-block;
    }

    .daily-task {
      border: 1px solid #c5c5c5;
      border-radius: 10px;
      padding: 5px 10px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bug-item {
      background-color: #d1d1d1;
      margin: 5px;
      height: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .shop-item {
      background-color: #f5f5f5;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .shop-item button {
      background-color: #2170d8;
      color: #fff;
      border: 1px solid #d1d1d1;
      padding: 8px;
      border-radius: 10px;
      margin-bottom: 20px;
      cursor: pointer;
    }

    .form-check {
      font-size: 20px;
      margin-left: 100px;
    }

    .styles_top-menu__link__GMlA4 {
      padding: 0 10px;
      font-size: 16px;
      line-height: 1.25;
    }
  </style>
</head>

<body>
  <header class="styles_header__du6tb">
    <div class="styles_header__inset__VxHvf">
      <div class="styles_header__backdrop__VMMPv"></div>
      <section class="styles_root__M8gt1 styles_header__container__iHJLq"
        style="--gutter-size-xs:50px;--gutter-size-sm:50px;--gutter-size-lg:50px;--gutter-size-xl:50px">
        <div class="styles_header__row__BGNQ7">
          <div class="styles_header__start__ssQxp">
            <div class="styles_header__logo__84mxi">
              <div class="styles_logo-header_primary__T4ZJe"><a
                  class="styles_logo-header__link__o2Vj3 styles_logo-header__image__3nNaY"
                  aria-label="Яндекс Образование" href="/"><img aria-hidden="true" name="edu_logo.svg"
                    hash="edu_logo_9eee76ff17" ext=".svg" mime="image/svg+xml" size="13.44"
                    url="https://yastatic.net/s3/education-portal/media/edu_logo_9eee76ff17.svg"
                    provider="strapi-plugin-yandexify" alt="Яндекс Образование" loading="lazy" width="233" height="24"
                    decoding="async" data-nimg="1" class="styles_desktop-only__ikvU4" style="color:transparent"
                    src="https://yastatic.net/s3/education-portal/media/edu_logo_9eee76ff17.svg"><img aria-hidden="true"
                    name="logo_mobile.svg" hash="logo_mobile_8bc5eb38fb" ext=".svg" mime="image/svg+xml" size="18.25"
                    url="https://yastatic.net/s3/education-portal/media/logo_mobile_8bc5eb38fb.svg"
                    provider="strapi-plugin-yandexify" alt="Яндекс Образование" loading="lazy" width="179" height="25"
                    decoding="async" data-nimg="1" class="styles_mobile-only__gIfIq" style="color:transparent"
                    src="https://yastatic.net/s3/education-portal/media/logo_mobile_8bc5eb38fb.svg"></a>
              </div>
            </div>
          </div>
          <div class="styles_header__controls-burger__zEvb7">
            <div class="styles_header__swipe-element__D_111"></div>
            <div class="styles_buttons-container-mobile__J2mMw">
              <div class="styles_header-buttons__p9ExX styles_header__buttons__VTsYv">
                <a href="/profile"><span type="button"
                    class="Button2 Button2_view_primary Button2_size_s styles_header-buttons__item__riSrc styles_button__dr0t2"
                    autocomplete="off"><span class="Button2-Text">Личный кабинет</span><span
                      class="Button2-HoverFade"></span></span></a>
              </div>
            </div>
            <nav class="styles_top-menu__X9Ebw" aria-label="Навигация по сайту">
              <div class="styles_top-menu__links___MNLH"><a title="Школьникам" class="styles_top-menu__link__GMlA4"
                  id="19" href="/catalog?category=schoolchilds">Школьникам</a><a title="Студентам" aria-disabled="false"
                  class="styles_top-menu__link__GMlA4" id="4136" href="/catalog?category=students">Студентам</a><a
                  title="Абитуриентам" aria-disabled="false" class="styles_top-menu__link__GMlA4" id="4137"
                  href="/university">Абитуриентам</a><a title="Партнёрам" aria-disabled="false"
                  class="styles_top-menu__link__GMlA4" id="4138" href="https://edumakers.yandex.ru/">Партнёрам</a><a
                  title="События" aria-disabled="false" class="styles_top-menu__link__GMlA4" id="4139"
                  href="https://education.yandex.ru/events">События</a><a title="Журнал" aria-disabled="false"
                  class="styles_top-menu__link__GMlA4" id="4140" href="/journal">Журнал</a><a title="AI"
                  aria-disabled="false" class="styles_top-menu__link__GMlA4" id="4141"
                  href="https://education.yandex.ru/ai">AI</a>
              </div>
            </nav>
          </div>
          <div class="styles_side-group__OlhnH">
            <button aria-hidden="false" aria-label="Поиск" class="styles_header-buttons__search__lDv6K">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="styles_search-icon__kVUBi" aria-hidden="true">
                <path
                  d="M21.7492 21.1896L16.0851 15.5255C17.4462 13.8915 18.1249 11.7958 17.98 9.67412C17.8352 7.55248 16.878 5.56836 15.3075 4.13451C13.737 2.70065 11.6742 1.92746 9.54821 1.97577C7.42218 2.02408 5.39663 2.89018 3.89292 4.39389C2.3892 5.89761 1.5231 7.92316 1.47479 10.0492C1.42648 12.1752 2.19967 14.238 3.63353 15.8085C5.06738 17.3789 7.05151 18.3362 9.17314 18.481C11.2948 18.6258 13.3906 17.9471 15.0246 16.5861L20.6886 22.2502L21.7492 21.1896ZM2.9992 10.2502C2.9992 8.91515 3.39508 7.61011 4.13678 6.50008C4.87848 5.39005 5.93269 4.52488 7.16609 4.01399C8.39949 3.5031 9.75669 3.36943 11.0661 3.62988C12.3754 3.89033 13.5782 4.5332 14.5222 5.47721C15.4662 6.42121 16.1091 7.62395 16.3695 8.93332C16.63 10.2427 16.4963 11.5999 15.9854 12.8333C15.4745 14.0667 14.6093 15.1209 13.4993 15.8626C12.3893 16.6043 11.0842 17.0002 9.7492 17.0002C7.9596 16.9982 6.24386 16.2864 4.97842 15.021C3.71298 13.7555 3.00119 12.0398 2.9992 10.2502Z"
                  fill="currentColor"></path>
              </svg>
            </button>
            <div class="styles_buttons-container-desktop__HNtHi">
              <div class="styles_header-buttons__p9ExX styles_header__buttons__VTsYv">
                <a href="/profile"><span type="button"
                    class="Button2 Button2_view_primary Button2_size_s styles_header-buttons__item__riSrc styles_button__dr0t2"
                    autocomplete="off"><span class="Button2-Text"
                      style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 8px 13px; border-radius: 10px; font-size: 14px;">Личный
                      кабинет</span><span class="Button2-HoverFade"></span></span></a>
              </div>
            </div>
            <div>
              <div class="UserID-Wrapper UserID-Wrapper_default" style="--user-id-size:32px">
                <button aria-expanded="false" aria-haspopup="true" aria-label="Ваш профиль" class="UserID-Account"
                  role="button" tabindex="0">
                  <div class="UserID-Badge">
                    <div class="UserID-Avatar"><img
                        src="https://avatars.mds.yandex.net/get-yapic/27274/3wklvIEdtr2Pyot4JkxPzMnU2nM-1/islands-middle"
                        class="UserID-Avatar-Image"
                        srcset="https://avatars.mds.yandex.net/get-yapic/27274/3wklvIEdtr2Pyot4JkxPzMnU2nM-1/islands-middle 1x, https://avatars.mds.yandex.net/get-yapic/27274/3wklvIEdtr2Pyot4JkxPzMnU2nM-1/islands-retina-middle 2x">
                    </div>
                  </div>
                </button>
                <div role="dialog" aria-busy="true" aria-modal="true"
                  class="UserWidget-Dialog UserWidget-Dialog_loading UserWidget-Dialog_colorScheme_light styles_user-dialog__Ymrb_">
                  <button class="UserID-CloseButton UserID-CloseButton_colorScheme_light" aria-label="Закрыть"
                    tabindex="1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" focusable="false" aria-hidden="true">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"
                        fill="currentColor"></path>
                    </svg>
                  </button>
                  <div class="UserWidget-Content UserWidget-Content_loading UserWidget-Content_colorScheme_light">
                    <iframe class="UserWidget-Iframe" width="320"
                      src="https://yandex.ru/user-id?retpath=https%253A%252F%252Feducation.yandex.ru%252Fprofile&amp;colorScheme=light&amp;env=prod&amp;dir=ltr"
                      height="300"></iframe>
                    <div class="UserWidget-Spin"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="styles_header__toggle__zRkNY">
              <button class="styles_toggle__fclHv" type="button" title="Меню"><span
                  class="styles_toggle__box__sOS2N"><span class="styles_toggle__box-inner__0YE77"><span
                      class="styles_toggle__box-inner-open__N_9ts"></span><span
                      class="styles_toggle__box-inner-open__N_9ts styles_toggle__box-inner-open_bottom__bUGuc"></span><span
                      class="styles_toggle__box-inner-close__WSRdM"></span></span></span>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </header>
  <div class="container" style="margin-top: 25px;">

    <div class="card">
      <h1 style="text-align: center; margin: 0; margin-bottom: -40px;">
        ЖучЯндекс</h1>

      <div
        style="display: flex; justify-content: space-between; align-items: center; gap: 10px; margin: 0; margin-right: 30px; margin-bottom: 20px;">
      </div>
      <button id="myBtn"
        style="width: 40px; height: 40px; border-radius: 100%; font-size: 25px; display: block; margin-top: -10px; cursor: pointer">?</button>
      <p style="display: flex; justify-content: end; align-items: center; gap: 10px; margin-top: -40px;">
        <img src="{% static 'error-coins.png' %}" style="height: 40px;">60 багов
      </p>
      <div style="display: flex; justify-content: space-around; margin-bottom: 30px;">
        <div style="width: 40%;">

          <div class="bar-text">
            <p>
              Прогресс ежедневных заданий
            </p>
            <p>
              2/3
            </p>
          </div>
          <div class="bar-outer" style="border-radius: 100px;">
            <div class="daily-progress-bar" style="width:67%; border-radius: 100px;"></div>
          </div>
        </div>
        <div style="width: 40%;">

          <div class="bar-text">
            <p>
              Уровень 3
            </p>
            <p>
              680XP/1000XP
            </p>
          </div>
          <div class="bar-outer" style="border-radius: 100px;">
            <div class="xp-progress-bar" style="width:68%; border-radius: 100px;"></div>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <div style="width: 40%; margin-left: 10px;">
          <div class="daily-task">
            <p style="display: flex; align-items: center; gap: 10px; font-size: 20px;"><span class="check-mark"></span>
              Покормить Бага</p>
            <p>Награда: 10 багов и 25XP</p>
          </div>
          <div class="daily-task">
            <p style="display: flex; align-items: center; gap: 10px; row-gap: 10px; font-size: 20px;"><span
                class="check-mark"></span> Напоить Бага</p>
            <p>Награда: 10 багов и 25XP</p>
          </div>
          <div class="daily-task" style="">
            <p style="display: flex; align-items: center; gap: 10px; row-gap: 10px; font-size: 20px;"><span
                class="check-mark" style="background-color: #f2f2f2;"></span> Поиграть с Багом</p>
            <p>Награда: 10 багов и 25XP</p>
          </div>
        </div>
        <div style="width: 40%; display: flex; border: 1px solid #c5c5c5; border-radius: 10px;">
          <img src="{% static 'Bug_Random3.png' %}" alt="" style="height: 300px;">
          <div style="display: flex; flex-direction: column; width: 25%;">
            <div class="bug-item"><img src="{% static 'Bug_Top3_L.png' %}" alt="" style="height: 100px;"></div>
            <div class="bug-item"><img src="{% static 'Bug_Middle3.png' %}" alt="" style="height: 100px;"></div>
            <div class="bug-item"><img src="{% static 'Bug_Low2_PNeon.png' %}" alt="" style="height: 100px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="margin-top: 30px;">
      <h1 style="text-align: center; margin-bottom: 30px;">Магазин</h1>
      <div style="display: flex; height: 300px; gap: 10px;">
        <div class="shop-item">
          <img src="{% static 'Bug_Top1.png' %}" alt="" height="80%">
          <button>Купить (100 багов)</button>
        </div>
        <div class="shop-item">
          <img src="{% static 'Bug_Middle1_GP.png' %}" alt="" height="80%">
          <button>Купить (200 багов)</button>
        </div>
        <div class="shop-item">
          <img src="{% static 'Bug_Middle2.png' %}" alt="" height="80%">
          <button>Купить (150 багов)</button>
        </div>
        <div class="shop-item">
          <img src="{% static 'Bug_Top2.png' %}" alt="" height="80%">
          <button>Купить (100 багов)</button>
        </div>
        <div class="shop-item">
          <img src="{% static 'Bug_Low1_Neon.png' %}" alt="" height="80%">
          <button>Купить (300 багов)</button>
        </div>
      </div>
    </div>
    <div class="card" style="margin-top: 30px;">
      <h1 style="text-align: center; margin-bottom: 30px;">Настройки</h1>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Получать подсказки
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label" for="flexCheckDefault">
          Получать уведомления
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" checked>
        <label class="form-check-label" for="flexCheckDefault2">
          Друрие настройки
        </label>
      </div>
    </div>
  </div>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
  </head>

  <body>

    <!-- Trigger/Open The Modal -->


    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Привет, похоже ты нашёл баг, который скрывался в системе Яндекс образования!<br>
          Это милый жук который хочет помогать тебе в обучении.

          Прокачивай его уровень решая задачи, сделай своего жука уникальным покупая различные кастомизации в магазине.<br>

          За ежедневное решение дейликов у тебя будет повышаться коэффициент получаемого опыта и багов.<br>

          Но будь острожен, если ты пропустишь день и у тебя не будет заморозки, то коэффициент обнуляться<br>

        </p>
      </div>

    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      btn.onclick = function () {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      {% if first_time %}
          btn.click();
      {% endif %}
    </script>

  </body>

</html>
